<h1>Products#index</h1>

<table>
    <thead>
        <tr>
            <th> Nome </th>
            <th> Valor </th>
            <th> Restaurante </th>
        </tr>
    </thead>

    <tbody>
    <% @products.each do |p|%>
        <tr>
            <th><%= p.name %></th>
            <th><%= p.value %></th>
             <% Restaurant.all.each do |r| %>
                <th><%= r.name %></th>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>